@font-face {
  font-family: 'title';
  src: url('/fonts/title.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'text';
  src: url('/fonts/text.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}
